<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    
    <% if(rows.length >0) { %>

        <%rows.map((eachData)=>{ %>



      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value = "<%-eachData.name%>">
          </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">User name</label>
          <input type="password" class="form-control" id="exampleInputPassword1" value = "<%-eachData.user_name%>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input type="password" class="form-control" id="exampleInputPassword1" value = "<%-eachData.email%>">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" value = "<%-eachData.password%>">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <%})%>

      <% }else{%>

          <div class="col-md-12">
              <h1 class="h2 text-center">No data found</h1>
          </div>


          <%}%>
  </body>
</html>